<%- include("partials/header"); -%>

<div class="golden-bg"></div>
<div class="home-wrapper flex-col-abs-center">
    <div class="home-content flex-col-abs-center">
        <img class="home-icon" src="img/icon.png" alt="Tweet Deleter Icon">
        <h1 class="home-heading">Like Deleter</h1>
        <p class="home-subheading">Delete up to 200 likes at once</p>

        <a class="btn" href="/auth/twitter">Login with Twitter<i class="fa fa-twitter"></i></a>
    </div>
</div>

<%- include("partials/footer"); -%>