* {
  box-sizing: border-box;
  color: #14171a;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background: #e1e8ed;
  height: 100vh;
}

a,
a:active,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

footer {
  background: #f4cc31;
  bottom: 0;
  color: #f5f8fa;
  font-size: 1.1rem;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer a {
  color: #f5f8fa;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn {
  background: #1da1f2;
  border-radius: 5px;
  color: #f5f8fa;
  font-size: 1.3rem;
  outline: none;
  padding: 15px;
}

.flex-col-abs-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.golden-bg {
}

.home-wrapper {
  height: 75vh;
}

.home-icon {
  height: 125px;
  width: 125px;
  margin-bottom: 20px;
}

.home-heading {
  color: #1da1f2;
  font-weight: normal;
  font-size: 3.5rem;
  letter-spacing: 10px;
  text-transform: lowercase;
  text-align: center;
}

.home-subheading {
  color: #657786;
  margin: 10px 0 20px 0;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.fa-twitter {
  color: #f5f8fa;
  font-size: 1.7rem;
  margin-left: 15px;
}

.deleter-header {
  background: #1da1f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 20px;
  position: relative;
}

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.username {
  color: #f5f8fa;
  font-size: 1.3rem;
  margin-top: 10px;
}

.logout-btn {
  background: none;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.logout-btn:hover {
  text-shadow: 0 0 5px #f5f8fa;
}

.fa-sign-out {
  color: #f5f8fa;
  font-size: 2rem;
  margin: 2px;
}

.deleter-content-wrapper {
  align-items: center;
  background: #f5f8fa;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 25px auto 0;
  padding: 25px 0;
  width: 90%;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
}

.tweet-content {
  border: 2px solid #aab8c2;
  border-radius: 5px;
  color: #657786;
  font-size: 1.2rem;
  margin-bottom: 15px;
  padding: 15px 15px 55px 15px;
  resize: none;
  outline: none;
}

.char-count-wrapper {
  bottom: 30px;
  font-size: 1.2rem;
  left: 30px;
  position: absolute;
}

.tweet-btn {
  bottom: 30px;
  font-size: 1rem;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  right: 15px;
  width: fit-content;
}

#delete-like-form {
  margin-top: 25px;
  width: 85%;
}

.form-title {
  color: #1da1f2;
  margin-bottom: 10px;
}

.form-label {
  color: #657786;
  font-size: 1.3rem;
}

.number-input {
  color: #657786;
  font-size: 1.3rem;
  padding: 3px;
  width: 60px;
  outline: none;
  margin: 0 10px;
}

.like-del-checkbox {
  transform: scale(1.5);
  margin-right: 5px;
}

.confirm-del-btn {
  background: #f52e14;
  color: #f5f8fa;
  margin-top: 10px;
  padding: 5px;
}

.fa-check {
  color: #f5f8fa;
}
