* {
  box-sizing: border-box;
  color: #14171a;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background: #f5f8fa;
  height: 100vh;
}

a,
a:active,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

hr {
  width: 100%;
  border: none;
  border-top: 3px solid #aab8c2;
  margin: 20px auto;
}

/************************* general *************************/
.flex-col-abs-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
}

/************************* home.ejs *************************/
.home-wrapper {
  height: 75vh;
}

.home-icon {
  height: 125px;
  margin-bottom: 20px;
  width: 125px;
}

.home-heading {
  color: #1da1f2;
  font-weight: normal;
  font-size: 4rem;
  letter-spacing: 10px;
  text-align: center;
  text-transform: lowercase;
}

.home-subheading {
  color: #657786;
  font-size: 1.5rem;
  margin: 10px 0 20px 0;
  text-transform: lowercase;
}

.login-btn {
  background: #1da1f2;
  border-radius: 5px;
  color: #f5f8fa;
  font-size: 1.3rem;
  outline: none;
  padding: 15px;
}

.fa-twitter {
  color: #f5f8fa;
  font-size: 1.7rem;
  margin-left: 15px;
}

/************************* deleter.ejs *************************/
/* header */
.deleter-header {
  align-items: center;
  background: #1da1f2;
  display: flex;
  font-size: 1rem;
  padding: 15px 50px;
}

.user-info-wrapper {
  align-items: center;
  display: flex;
}

.profile-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.username {
  color: #f5f8fa;
  margin-left: 10px;
}

.logout-link {
  background: none;
  color: #f5f8fa;
  margin-left: 20px;
}

.fa-sign-out {
  color: #f5f8fa;
  font-size: 1.2rem;
}

/* tweet form */
.deleter-content-wrapper {
  background: #e1e8ed;
  height: 100vh;
  margin: 0 auto;
  padding: 25px 30px;
  width: fit-content;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 450px;
}

.tweet-content {
  border: 2px solid #aab8c2;
  border-radius: 5px;
  color: #657786;
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 15px 15px 55px 15px;
  resize: none;
  outline: none;
}

.char-count {
  bottom: 30px;
  color: #657786;
  position: absolute;
  left: 15px;
}

.tweet-btn {
  background: #1da1f2;
  border-radius: 5px;
  bottom: 30px;
  color: #f5f8fa;
  font-size: 0.9rem;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  right: 15px;
}

/* delete like form */
#delete-like-form {
  width: 90%;
}

.form-title {
  color: #1da1f2;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.form-label {
  color: #657786;
  font-size: 1.1rem;
}

.number-input {
  border: 2px solid #aab8c2;
  border-radius: 5px;
  color: #657786;
  font-size: 1.1rem;
  margin-left: 10px;
  padding: 3px;
  width: 60px;
  outline: none;
}

.stack-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 204px;
}

.checkbox-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.like-del-checkbox {
  zoom: 1.5; /* makes checkbox bigger without shifting it right */
}

.confirm-del-btn {
  background: #f52e14;
  border-radius: 50%;
  color: #f5f8fa;
  display: inline-block;
  height: fit-content;
  margin-left: 25px;
  margin-top: -5px;
  padding: 10px;
}

.fa-trash {
  color: #f5f8fa;
  font-size: 1.3rem;
}

/************************* footer.ejs *************************/
footer {
  background: #f4cc31;
  bottom: 0;
  color: #14171a;
  font-size: 1rem;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer a {
  color: #14171a;
  font-weight: bold;
}

footer a:hover {
  color: #aab8c2;
}

/************************* MOBILE MEDIA QUERIES *************************/
/* Portrait Orientation */
@media only screen and (min-width: 375px) and (max-width: 926px) {
  hr {
    width: 90%;
  }

  .flex-row {
    /* justify-content: space-between; */
  }

  /************************* home.ejs *************************/
  .home-icon {
    height: 115px;
    width: 115px;
  }

  /************************* deleter.ejs *************************/
  /* header */
  .deleter-header {
    justify-content: space-between;
    padding: 15px 30px;
  }

  /* tweet form */
  .deleter-content-wrapper {
    padding: 20px 0px;
    width: 100%;
  }

  .tweet-form {
    width: 90%;
  }

  .tweet-content {
    font-size: 1.1rem;
  }

  /* delete like form */
  #delete-like-form {
    margin: 0 auto;
  }

  .form-title {
    margin-bottom: 15px;
  }

  .form-label {
    font-size: 1.2rem;
  }

  .stack-input {
    width: 220px;
  }

  .number-input {
    font-size: 1.2rem;
    width: 60px;
  }

  .confirm-del-btn {
    padding: 10px 12px;
    margin-left: 20px;
  }

  .fa-trash {
    font-size: 1.5rem;
  }
}

/* Landscape Orientation */
@media only screen and (min-width: 375px) and (max-width: 926px) and (orientation: landscape) {
  footer {
    position: static;
  }

  /************************* home.ejs *************************/
  .home-wrapper {
    height: 85vh;
  }

  .home-icon {
    height: 90px;
    margin-bottom: 10px;
    width: 90px;
  }

  .home-heading {
    font-size: 2.7rem;
  }

  .home-subheading {
    margin: 5px 0 10px 0;
    font-size: 1.2rem;
  }

  .login-btn {
    font-size: 1.1rem;
    padding: 10px;
  }

  .fa-twitter {
    font-size: 1.2rem;
    margin-left: 10px;
  }

  /************************* deleter.ejs *************************/
  /* header */
  .deleter-header {
    justify-content: flex-start;
    padding: 7px 30px;
  }

  .deleter-content-wrapper {
    padding: 20px 0 380px;
    width: 50%;
  }
}
